In [1]:
import praw
import spacy
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import json
with open('keys.json') as f:
    keys = json.load(f)

app_id = keys['reddit']['app_id']
app_secret = keys['reddit']['app_secret']
username = keys['reddit']['username']
password = keys['reddit']['password']

In [3]:
reddit = praw.Reddit(client_id = app_id,
                    client_secret = app_secret,
                    user_agent = f'lse/0.0.1 by {username}',
                    username = username,
                    password = password)

In [1]:
import re
from datetime import datetime
import emoji

def remove_emojis(text):
    return emoji.get_emoji_regexp().sub(u'', text)

subreddit = reddit.subreddit("6thForm")

post_text_lst= []
comment_text_lst = []
# for index, submission in enumerate(subreddit.search("LSE+Lse+lse", limit=1000,sort="relevance")):
# for index, submission in enumerate(subreddit.search("UCL+ucl+Ucl", limit=1000,sort="relevance")):
# for index, submission in enumerate(subreddit.search("Imperial+IMPERIAL+imperial+icl", limit=1000,sort="relevance")):
# for index, submission in enumerate(subreddit.search("Kings+KINGS+KCL+Kcl+kcl", limit=1000,sort="relevance")):
for index, submission in enumerate(subreddit.search("Cambridge+Oxford+Oxbridge", limit=1000,sort="relevance")):
    if submission.link_flair_text is not None:
        post_flair = remove_emojis(submission.link_flair_text)
    else:
        post_flair = None
    
    post_text_lst.append((index, remove_emojis(submission.selftext),post_flair, "post_text", datetime.utcfromtimestamp(submission.created_utc)))
    if submission.num_comments > 0:
        comments = submission.comments.replace_more(limit=0)            
        for comments in submission.comments.list():
            if comments.author != "AutoModerator":
                comment_text_lst.append((index, remove_emojis(comments.body), post_flair, "comment_text", datetime.utcfromtimestamp(comments.created_utc)))

NameError: name 'reddit' is not defined

In [35]:
df = pd.DataFrame(post_text_lst + comment_text_lst, columns=['post_index', 'text', 'flair', 'post_type', "date"])
df

,post_index,text,flair,post_type,date
0,0,Been waiting since mid october and still not a...,UNI / UCAS,post_text,2024-03-12 18:31:47
1,1,Hi! I tried to upload my IELTS score to King's...,UNI / UCAS,post_text,2023-10-17 16:21:22
2,2,So I just received an email from KCL saying th...,UNI / UCAS,post_text,2024-01-03 19:13:18
3,3,"Hi, I recieved an email from Kings a couple ho...",UNI / UCAS,post_text,2024-03-07 22:23:39
4,4,"It makes no sense, because Warwick, Manchester...",UNI / UCAS,post_text,2024-04-27 09:43:06
...,...,...,...,...,...
3575,240,"congratssss, when did you apply and also are y...",DISCUSSION,comment_text,2024-03-20 20:19:49
3576,240,U applied to both at kings.,DISCUSSION,comment_text,2024-03-20 18:42:23
3577,240,home,DISCUSSION,comment_text,2024-03-21 16:08:59
3578,240,I applied near the end of December. I'm unfort...,DISCUSSION,comment_text,2024-03-21 16:10:11
3579,240,i applied early october and still didn’t hear ...,DISCUSSION,comment_text,2024-03-21 16:18:06

In [6]:
from transformers import AutoTokenizer, TFAutoModelForSequenceClassification, pipeline
tokenizer = AutoTokenizer.from_pretrained("finiteautomata/bertweet-base-sentiment-analysis")
model = TFAutoModelForSequenceClassification.from_pretrained("finiteautomata/bertweet-base-sentiment-analysis")
# tokenizer = AutoTokenizer.from_pretrained("vinai/bertweet-base")
# model = TFAutoModelForSequenceClassification.from_pretrained("vinai/bertweet-base")
specific_model = pipeline("sentiment-analysis", model=model, tokenizer=tokenizer);

C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\scipy\__init__.py:177: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

WARNING:tensorflow:From C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\User\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tf_keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

All model checkpoint layers were used when initializing TFRobertaForSequenceClassification.

All the layers of TFRobertaForSequenceClassification were initialized from the model checkpoint at finiteautomata/bertweet-base-sentiment-analysis.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFRobertaForSequenceClassification for predictions without further training.

In [36]:
df2 = df[df['text']!=""].copy()
df2['text'] = df2['text'].str.split(r'\.\s+|\n+')
df_exploded = df2.explode('text')
df_exploded = df_exploded[df_exploded['text']!=""].copy()
df_exploded['Word_Count'] = df_exploded['text'].apply(lambda x: len(str(x).split()))
df_exploded = df_exploded[df_exploded['Word_Count'] >= 10]
df_exploded

,post_index,text,flair,post_type,date,Word_Count
0,0,Been waiting since mid october and still not a...,UNI / UCAS,post_text,2024-03-12 18:31:47,10
1,1,Hi! I tried to upload my IELTS score to King's...,UNI / UCAS,post_text,2023-10-17 16:21:22,34
1,1,I also don't know how to check if it has been ...,UNI / UCAS,post_text,2023-10-17 16:21:22,14
2,2,So I just received an email from KCL saying th...,UNI / UCAS,post_text,2024-01-03 19:13:18,19
2,2,But what confused me was that I had already ti...,UNI / UCAS,post_text,2024-01-03 19:13:18,38
...,...,...,...,...,...,...
3567,238,there is no actual economics department) so so...,UNI / UCAS,comment_text,2022-06-29 17:28:48,13
3568,239,"i think some people got their offers, but this...",UNI / UCAS,comment_text,2023-11-22 08:20:15,15
3568,239,Maybe it will take longer for law? for those w...,UNI / UCAS,comment_text,2023-11-22 08:20:15,15
3571,240,Apparently KCL can take the longest to give of...,DISCUSSION,comment_text,2024-03-20 18:20:15,15
3575,240,"congratssss, when did you apply and also are y...",DISCUSSION,comment_text,2024-03-20 20:19:49,10

In [ ]:
df_exploded['sentiment'] = df_exploded['text'].apply(lambda x: specific_model(x, truncation=True, padding=True, max_length=128)[0])
df_exploded.to_csv('imperial_sentiment_data.csv', index=False)

In [ ]:
import ast
df3 = pd.read_csv('imperial_sentiment_data.csv')
df3['sentiment'] = df3['sentiment'].apply(ast.literal_eval)

# Extract 'label' and 'score' into separate columns
df3['sentiment_label'] = df3['sentiment'].apply(lambda x: x['label'])
df3['sentiment_score'] = df3['sentiment'].apply(lambda x: x['score'])
df3 = df3.drop('sentiment', axis=1)
df3['sentiment_label'].value_counts()
# df3